{% extends 'main/base.html' %}
<span></span>
{% block title %} Create a Post {% endblock title %}
<span></span>
{% load crispy_forms_tags %}
<span></span>
{% block body %}
<div class="create-post-page">
    <form method="post">
        <h3 class="head menu-label"><strong>create a post</strong></h3>
        {% comment %}
        <hr class="divider" />
        {% endcomment %} {% csrf_token %} <br />
        {{ form|crispy }}
        <div class="field">
            <div class="control is-flex is-justify-content-end">
                <button class="button is-dark">publish</button>
            </div>
        </div>
    </form>
</div>
{% endblock body %}
