{% extends 'main/base.html' %} {% block title %}Edit Post{% endblock title %}
<span></span>
{% load crispy_forms_tags %} {% block body %} {% if user == post_detail.author
%}
<div class="columns">
    <div class="column is-9 actions">
        <div class="is-flex is-justify-content-space-between">
            <p class="menu-label m-0">Action</p>
            <div>
                <a href="{% url 'post_details' post.id %}">View</a>
                |
                <a href="">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div>
    <form action="" method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="feild">
            <div class="control is-flex is-justify-content-flex-end">
                <button type="submit" class="button is-dark">
                    Save Changes
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock body %}
