{% extends 'main/base.html' %}
<p></p>
{% block title %} View User Profile{% endblock title %}
<span></span>
{% block body %}
<div>
    {% if userprofile|length == 0 %} {% if user == userprofile.author %}
    <div>
        <p>You haven't create your profile yet,</p>
        <div class="field">
            <div class="control">
                <button class="button">Add Your Profile</button>
            </div>
        </div>
    </div>
    {% else %}
    <p>No user profile yet,</p>
    {% endif %} {% else %}
    <p>{{userprofile.author.username}}</p>
    <p>{{userprofile.author.email}}</p>
    <p>{{userprofile.bio}}</p>

    {% if user == userprofile.author %}
    <p>Last Login: {{userprofile.author.last_login}}</p>
    <p>{{userprofile.author.logout}}</p>
    <p>is supperuser: {{userprofile.author.date_joined}}</p>
    {% endif %} {% endif %}
</div>
{% endblock body %}
